@media (max-width:1920px) {
  .portfolio-comment-container .portfolio-comment-div {
    gap: 222px;
  }
}

@media (max-width:1440px) {
  .header-container header {
    margin-bottom: 0;
    height: 70px;
  }

  .header-container header .menu ul li a {
    padding-top: 0;
  }

  .header-container header .logo a {
    margin: 5px 80px 0 0;
  }

  .header-container header .contact-button {
    margin-top: 15px;
  }

  main .why-work {
    padding-top: 0;
  }

  body .news {
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width:1280px) {
  .trend-games .trend-games-imgs {
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main .about-thumbnail {
    background-size: 600px;
  }

  body .news {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width:1152px) {

  .about-thumbnail .about-thumbnail-container {
    padding: 100px 0;
  }

  .portfolio-comment-container .portfolio-comment-div {
    gap: 122px;
  }

  .portfolio-thumbnail h1 {
    text-align: center;
  }

  main .about-thumbnail {
    background-size: 515px;
  }

  main .example .wrapper {
    background-size: 400px;
    background-position: left center;
  }

  .big-picture-container-bg .big-picture-container {
    padding: 120px 0;
  }

  .big-picture-container img {
    width: 100%;
  }

  main .portfolio-benefits {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-benefits .portfolio-benefits-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-benefits-text .check-div {
    margin-top: 0;
    align-items:center;
  }

  .check-container {
    display: flex;
    gap: 20px;
  }

  .portfolio-benefits-text .description {
    padding: 20px 0;
  }

  .portfolio-example-img img {
    width: 400px;
    height: auto;
  }
}

@media (max-width:1024px) {
  .portfolio-comment-container .portfolio-comment {
    width: 80vw;
  }

  body .header-container {
    display: none;
  }

  body .burger-icon {
    display: block;
  }  

  .wrapper .thumbnail {
    padding-top: 50px;
  }

  .wrapper .portfolio-thumbnail {
    padding-top: 40px;
  }

  body .news {
    width: 98%;
    margin-left: 1%;
  }
}

@media (max-width:800px) {
  .thumbnail .thumbnail-text {
    width: 100%;
    text-align: center;
  }

  .thumbnail .thumbnail-engines {
    display: none;
  }

  .wrapper .trend-games {
    margin-top: 50px;
  }

  .big-picture-container-bg .big-picture-container {
    padding: 50px 0;
  }

  .recent-gallery img {
    width: 30%;
    height: 50%;
  }

  .stay-in-loop {
    flex-direction: column;
    gap: 10px;
  }

  .stay-in-loop .stay-in-loop-email {
    width: 100%;
  }

  body .email {
    padding-bottom: 20px;
  }

  main .about-thumbnail {
    background-image: none;
  }

  .about-thumbnail .about-thumbnail-container {
    width: 100%;
    text-align: center;
    padding: 50px 0;
  }

  .why-work-container {
    flex-direction: column;
  }

  .why-work-container .why-work-div {
    width: 100%;
  }

  main .why-work, .team {
    padding: 30px;
  }

  main .example .wrapper {
    background-image: none;
  }

  .example .example-container {
    width: 100%;
    padding: 40px 0;
  }

  .team .team-container {
    flex-wrap: wrap;
    gap: 36px;
  }

  main .team {
    padding: 40px 0;
  }

  .portfolio-example {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-example .portfolio-example-text {
    width: 100%;
    text-align: center;
  }

  .portfolio-example-img img {
    display: none;
  }

  .wrapper .portfolio-benefits {
    padding: 40px 0 80px 0;
  }

  footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container .footer-about {
    width: 100%;
  }

  .footer-container .footer-about ul{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
  }

  .footer-head {
    display: none;
  }

  footer hr {
    margin: 10px auto;
  }

  footer .footer-copyright {
    padding-bottom: 10px;
  }

  body .call-back p,
  body .news p{
    font-size: 20px;
  }
}

@media (max-width:425px) {

  body .burger {
    width: 100%;
  }

  .thumbnail .thumbnail-text h1 {
    font-size: 30px;
    margin: 10px 0;
  }

  main .round-button {
    padding: 5px 10px;
    margin-top: 20px;
  }

  .trend-games .trend-games-imgs {
    gap: 10px;
    margin-top: 20px;
  }

  main .trend-games h2 {
    font-size: 24px;
    text-align: center;
  }

  .div-trend-game img {
    width: 100px;
  }

  .trend-games-imgs .div-trend-game p {
    font-size: 18px;
  }

  main .big-picture-container h2 {
    font-size: 24px;
    width: 100%;
  }

  .platforms .platforms-container {
    gap: 5px;
    justify-content: space-between;
    margin-top: 0px;
  }

  main .platforms-bg {
    padding: 30px 0;
  }

  .platforms h2 {
    font-size: 24px;
  }

  .recent-gallery img {
    width: 45%;
    height: 50%;
  }

  main .recent-bg {
    padding: 30px 0;
  }

  .wrapper .stay-in-loop {
    padding: 10px;
  }

  .wrapper .about-thumbnail-container h1 {
    font-size: 24px;
    padding: 10px 0;
  }

  .wrapper .about-thumbnail-container {
    padding: 20px 0;
  }

  .wrapper .thumbnail {
    padding-top: 20px;
  }

  main .why-work h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .why-work-container .why-work-div {
    box-sizing: border-box;
  }

  .wrapper .example-container h1 {
    font-size: 24px;
    padding: 20px 0;
  }

  .team .team-container {
    gap: 10px;
  }

  .team-container .team-div {
    box-sizing: border-box;
    padding: 0;
  }

  main .wrapper .portfolio-thumbnail {
    padding-top: 20px;
  }

  .portfolio-thumbnail .portfolio-thumbnail-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  main .portfolio-thumbnail-container .portfolio-thumbnail-div {
    border-right: 0;
  }

  .wrapper .portfolio-thumbnail h1 {
    font-size: 24px;
  } 

  .portfolio-benefits-img img {
    width: 100%;
  }

  main .square-button {
    padding: 5px 10px;
  }

  .wrapper .portfolio-example {
    padding-bottom: 40px;
  }

  .portfolio-example .portfolio-example-text p {
    padding: 10px 0;
  }

  .portfolio-comment-container h1 {
    font-size: 24px;
    text-align: center;
  }

  .portfolio-comment-div .portfolio-comment {
    padding: 10px;
    height: auto;
  }

  .comment-buttons .comment-button {
    padding: 5px;
  }

  .wrapper .portfolio-comment-container {
    gap: 10px;
    margin-bottom: 10px;
  }

  .wrapper .email-text > p {
    margin: 0 0 15px 0;
  }

  .email .wrapper h1 {
    font-size: 24px;
  }

  .recent h1 {
    font-size: 24px;
  }

  main .team h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
 
  body .call-back,
  body .news{
    margin-top: 5px;
    width: 94%;
    margin-left: 2%;
  }
}

@media (max-width:375px) {
  .platforms .platforms-container {
    gap: 0;
    flex-direction: column;
  }

  .platforms-container .platforms-div {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
  }

  .platforms-div img {
    width: 50px;
  }

  .platforms-div .arrow {
    display: none;
  }

  .stay-in-loop-email input {
    width: 130px;
  }

  .footer-logo {
    display: none;
  }

  .team-container .team-div {
    width: 115px;
    padding: 5px;
  }

  .team-container .team-div img {
    width: 80%;
  }

  .wrapper ,.email-text {
    text-align: center;
  }

  .wrapper .stay-in-loop {
    text-align: center;
  }

  .portfolio-thumbnail .portfolio-thumbnail-container {
    width: 100%;
  }

  .check-container {
    flex-direction: column;
    gap: 5px;
  }

  .modal .modal-content {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
  }

  .modal-content .submit-button {
    margin-top: 20px;
  }

  body .call-back p,
  body .news p{
    font-size: 16px;
  }

  body .call-back,
  body .news{
    width: 94%;
    margin-left: 1%;
    height: 40px;
  }

}